.app__menuitem{
    width: 100%;
}

.app__menuitem_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 40px;
    margin-top: 2rem;
    width: 100%;
}

.app__menuitem_head-title{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 119px;
    color: var(--color-white);
    height: 1px;
    width: 100%;
}

.app__menuitem_head-dash{
    width: 90px;
    height: 1px;
    background-color: var(--color-golden);
    margin: 0 1rem;
}
.app__menuitem_sub{
    margin-top: 0.4rem;
}

.app__header_button{
    margin: 2rem 0; 
    line-height: 28px;
}

